.canvas {
	border: 1px solid #222831;
	cursor: crosshair;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.w-75 {
	width: 75%;
}